*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, blue, pink);
}
.pay__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 450px;
  min-width: 250px;
  width: fit-content;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 35px;
  background-color: rgb(255, 255, 255);
}
div {
  display: flex;
  flex-direction: column;
}
p {
  display: flex;
  flex-direction: column;
}
input {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card__number {
  display: flex;
  flex-direction: column;
}
.card__number input {
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3),
    inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  background: linear-gradient(rgb(70, 70, 70), rgb(120, 120, 120));
  color: rgb(255, 255, 255);
  transition: 0.5s linear;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.expiration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exp {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3),
    inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  background: linear-gradient(rgb(70, 70, 70), rgb(120, 120, 120));
  color: white;
  transition: 0.5s linear;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.exp input {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 0;
  width: 35px;
  background: linear-gradient(rgb(70, 70, 70), rgb(120, 120, 120));
  color: white;
  transition: 0.5s linear;
}
.cvv {
  display: flex;
  flex-direction: column;
}
.cvv input {
  display: flex;
  flex-direction: column;
  width: 50px;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3),
    inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  background: linear-gradient(rgb(70, 70, 70), rgb(120, 120, 120));
  color: white;
  transition: 0.5s linear;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.amount {
  display: flex;
  flex-direction: column;
}
.amount input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3),
    inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  background: linear-gradient(rgb(70, 70, 70), rgb(120, 120, 120));
  color: white;
  transition: 0.5s linear;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.submit {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 4px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3),
    inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  background: linear-gradient(rgb(70, 70, 70), rgb(120, 120, 120));
  color: white;
  transition: 0.5s linear;
}
.submit:hover {
  background-color: white;
  transition: 00.5s;
}
.submit:disabled {
  color: rgba(105, 105, 105, 0.301);
  border: rgba(105, 105, 105, 0.301);
}
input {
  outline: none;
}
